a {
  color: #ffffff;
}


a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.btn-primary {
  font-size: 24px;
  font-family: 'Cinzel';
  padding: 0;
  line-height: 60px;
  min-width: 350px;
  border: none;
  border-radius: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000028+0,700000+90,700000+100 */
  background: #000028;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000028 0%, #700000 90%, #700000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      #000028 0%,
      #700000 90%,
      #700000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000028 0%, #700000 90%, #700000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000028', endColorstr='#700000', GradientType=0);
  /* IE6-9 */
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#nav {
  min-height: 125px;
}

.navbar {
  background-color: #141414;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar .container {
  display: flex;
  justify-content: center;
}

.navbar a {
  padding: 0px;
  font-family: 'Cinzel';
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.btn-werewolf {
  display: none;
}

.navbar a:hover {
  border-bottom: 1px solid #ffffff;
}

.navbar a.router-link-exact-active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.navbar .logo {
  background-image: url('../app/assests/logo.png');
  width: 256px;
  height: 63px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 31px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar .logo:hover,
.navbar .logo.router-link-exact-active {
  border-bottom: 1px solid transparent;
}

.navbar .logo.logoNS {
  background-image: url('../app/assests/logoNS.png');
  width: 160px;
  height: 56px;
  top: 16px;
}

.innerMonster {
  padding-bottom: 50px;
}

#monsterContentTypesNav {
  background-color: #0f0f0f;
  height: 50px;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
}

#monsterContentTypesNav .nav-link {
  line-height: 50px;
  padding: 0 1rem;
}

#monsterContentTypesNav .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.darkBar {
  height: 100%;
  padding: 30px;
}

.darkBar .simplebar-scrollbar::before {
  background-color: #666666;
}

.leftNav {
  background-color: #0f0f0f;
  padding: 0px;
  max-height: 100%;
  left: 0;
  overflow: auto;
  max-width: 320px;
}

.leftNav .btn-toolbar {
  justify-content: left;
  flex-wrap: nowrap;
}

.leftNav .btn-toolbar .btn-group {
  margin: 0px !important;
}

.leftNav .btn-toolbar .btn-group .btn-link {
  color: #ffffff;
  padding: 0px;
}

.leftNav .btn-toolbar .btn-group .nav-link {
  padding: 8px 10px;
}

.leftNav ul ul {
  padding: 0 40px 0;
}

.leftNav ul ul li .nav-link {
  padding: 0;
}

.main-content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.main-content .welcome {
  font-family: 'Cinzel';
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.main-content .inner-content {
  width: 100%;
  height: 100%;
}

#menu-footer {
  height: 90px;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
  width: 100%;
}

#menu-footer .container {
  justify-content: space-between;
}

#menu-footer a {
  font-size: 14px;
}

.footer-copyright {
  height: 40px;
  background-color: #0f0f0f;
  line-height: 40px;
  text-transform: uppercase;
  font-family: 'Cinzel';
  bottom: 0px;
  width: 100%;
  color: #fff;
}

.footer-copyright .container a {
  color: #fff;
}

.footer-copyright .container a:hover {
  text-decoration: underline;
}

.mainContent {
  padding: 15px 0px 0;
  max-height: 100%;
  white-space: pre-wrap;
}

.mainContent .boxDescription {
  padding: 0px;
  background-color: #141414;
  height: 100%;
  overflow: auto;
  /*max-width: 1200px; */
}

.mainContent .data {
  margin-bottom: 10px;
}

.mainContent .data .title {
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1399px) {
  .leftNav {
    max-width: 300px;
  }

  .leftNav .btn-toolbar .btn-group .nav-link {
    padding: 8px;
  }
}

@media (max-width: 1199px) {
  .leftNav .btn-toolbar .btn-group .nav-link {
    padding: 8px;
  }

  .leftNav .darkBar {
    padding: 25px;
  }
}

@media (max-width: 991px) {
  .navbar a {
    font-size: 16px;
  }

  .navbar .logo {
    width: 200px;
  }

  .navbar .logo.logoNS {
    width: 160px;
  }

  .leftNav .darkBar {
    padding: 20px;
  }

  #menu-footer .container {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  #app {
    height: auto;
  }

  #nav {
    margin-top: 0px;
    height: auto;
  }

  .navbar a {
    margin: 20px 0px;
  }

  .navbar .logo {
    position: relative;
    transform: none;
    left: auto;
    top: 0;
    flex: 100%;
    background-position: center;
    margin-bottom: 0px;
  }

  .main-content {
    min-height: 50vh;
  }

  .main-content .container {
    text-align: center;
  }

  #menu-footer {
    height: auto;
  }

  .navbar .logo.logoNS {
    top: 0px;
  }

  #monsterContentTypesNav {
    flex-wrap: wrap;
    height: auto;
    min-height: 50px;
  }

  .leftNav {
    max-width: 25%;
    min-height: 400px;
  }

  .innerMonster .mainContent {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0px;
  }

  .footer-copyright {
    font-size: 14px;
  }

  #monsterContentTypesNav .nav-link {
    line-height: 30px;
  }

  .btn-primary {
    min-width: 88vw;
  }
}

/*# sourceMappingURL=globals.css.map */
